/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */

@font-face {
    font-family: ZhuZiAYuanJWD;
    src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
    font-display: swap;
    font-weight: lighter;
}

div#menus {
    font-family: "ZhuZiAYuanJWD";
}

h1#site-title {
    font-family: ZhuZiAYuanJWD;
    font-size: 3em !important;
}

a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
    font-family: ZhuZiAYuanJWD;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 3em;
    /* 可以定义图标大小 */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 时间轴生肖icon */

svg.icon {
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
    width: 1em;
    height: 1em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon-zhongbiao::before {
    color: #f7c768;
}


/* bilibli番剧插件 */

#article-container .bangumi-tab.bangumi-active {
    background: var(--anzhiyu-theme);
    color: var(--anzhiyu-ahoverbg);
    border-radius: 10px;
}

a.bangumi-tab:hover {
    text-decoration: none !important;
}

.bangumi-button:hover {
    background: var(--anzhiyu-theme) !important;
    border-radius: 10px !important;
    color: var(--anzhiyu-ahoverbg) !important;
}

a.bangumi-button.bangumi-nextpage:hover {
    text-decoration: none !important;
}

.bangumi-button {
    padding: 5px 10px !important;
}

a.bangumi-tab {
    padding: 5px 10px !important;
}

svg.icon.faa-tada {
    font-size: 1.1em;
}

.bangumi-info-item {
    border-right: 1px solid #f2b94b;
}

.bangumi-info-item span {
    color: #f2b94b;
}

.bangumi-info-item em {
    color: #f2b94b;
}


/* 解决artitalk的图标问题 */

#uploadSource>svg {
    width: 1.19em;
    height: 1.5em;
}


/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */

#page-header:not(.not-top-img):before {
    background-color: transparent !important;
}


/* 首页文章卡片 */

#recent-posts>.recent-post-item {
    background: rgba(255, 255, 255, 0.9);
}


/* 首页侧栏卡片 */

#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.9);
}


/* 文章页面正文背景 */

div#post {
    background: rgba(255, 255, 255, 0.9);
}


/* 分页页面 */

div#page {
    background: rgba(255, 255, 255, 0.9);
}


/* 归档页面 */

div#archive {
    background: rgba(255, 255, 255, 0.9);
}


/* 标签页面 */

div#tag {
    background: rgba(255, 255, 255, 0.9);
}


/* 分类页面 */

div#category {
    background: rgba(255, 255, 255, 0.9);
}


/*夜间模式伪类遮罩层透明*/

[data-theme="dark"] #recent-posts>.recent-post-item {
    background: #121212;
}

[data-theme="dark"] .card-widget {
    background: #121212 !important;
}

[data-theme="dark"] div#post {
    background: #121212 !important;
}

[data-theme="dark"] div#tag {
    background: #121212 !important;
}

[data-theme="dark"] div#archive {
    background: #121212 !important;
}

[data-theme="dark"] div#page {
    background: #121212 !important;
}

[data-theme="dark"] div#category {
    background: #121212 !important;
}

[data-theme="dark"] div#category {
    background: transparent !important;
}


/* 页脚透明 */

#footer {
    background: transparent !important;
}


/* 头图透明 */

#page-header {
    background: transparent !important;
}

#rightside>div>button {
    border-radius: 5px;
}


/* 滚动条 */

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #3b70fc;
    border-radius: 2em;
}

 ::-webkit-scrollbar-corner {
    background-color: transparent;
}

 ::-moz-selection {
    color: #fff;
    background-color: #3b70fc;
}


/* 音乐播放器 */


/* .aplayer .aplayer-lrc {
    display: none !important;
  } */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    transition: all 0.3s;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    transition: all 0.3s;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer.aplayer-fixed {
    z-index: 999999 !important;
}


/* 评论框  */

.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}


/* 设置评论框 */

.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}


/* md网站下划线 */

#article-container a:hover {
    text-decoration: none !important;
}

#article-container #hpp_talk p img {
    display: inline;
}


/* 404页面 */

#error-wrap {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    transform: translate(0, -50%);
}

#error-wrap .error-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    height: 18rem;
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    transition: all 0.3s;
}

#error-wrap .error-content .error-img {
    box-flex: 1;
    flex: 1;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #3b70fc;
    background-position: center;
    background-size: cover;
}

#error-wrap .error-content .error-info {
    box-flex: 1;
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
    font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}

#error-wrap .error-content .error-info .error_title {
    margin-top: -4rem;
    font-size: 9em;
}

#error-wrap .error-content .error-info .error_subtitle {
    margin-top: -3.5rem;
    word-break: break-word;
    font-size: 1.6em;
}

#error-wrap .error-content .error-info a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    background: var(--btn-bg);
    color: var(--btn-color);
}

#body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0px;
    position: absolute;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
    padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
    overflow: hidden;
    width: 230px;
    height: 143px;
    background: var(--anzhiyu-card-bg);
    display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: 0.5rem;
    color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
    display: none;
}


/* 代码框主题 */

@font-face {
    font-family: "icomoon";
    src: url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.eot?u8ckod");
    src: url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.eot?u8ckod#iefix") format("embedded-opentype"), url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.ttf?u8ckod") format("truetype"), url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.woff?u8ckod") format("woff"), url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.svg?u8ckod#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
    content: "\e900";
    color: #827d7b;
}

.icon-next:before {
    content: "\e901";
    color: #827d7b;
}

.icon-pause:before {
    content: "\e902";
    color: #fff;
}

.icon-play:before {
    content: "\e903";
    color: #fff;
}

.icon-playlist:before {
    content: "\e904";
    color: #fff;
}

@font-face {
    font-family: Avenir;
    src: url(https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/font/AvenirNextRoundedProMedium.TTF);
}

.music-player {
    --color-white: #fff;
    --color-gray: #e5e7ea;
    --color-blue: #78adfe;
    --color-blue-dark: #5781bd;
    --box-shadow: 0 2px 6px 1px #0000001f;
    --color-text-1: #000;
    --color-text-2: #0000006b;
    --cover-size: 3.8125em;
    --border-radius: 1.625em;
    --music-player-height: 24.375em;
    --offset-cover: 1.60125em;
    width: 20.9375em;
    overflow: hidden;
    user-select: none;
    color: var(--color-text-1);
    height: var(--music-player-height);
    border-radius: var(--border-radius);
    background-color: var(--color-white);
}

.slider {
    --shadow-opacity: 1;
    z-index: 0;
    flex-shrink: 0;
    height: 7.125em;
    position: relative;
    border-radius: inherit;
    transition: var(--duration) height var(--ease-timeline);
}

.slider.resize {
    --shadow-opacity: 0;
    height: var(--music-player-height);
}

.slider::after {
    top: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    box-shadow: var(--box-shadow);
    opacity: var(--shadow-opacity);
    transition: var(--duration) opacity;
}

.slider__content {
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    width: var(--cover-size);
    height: var(--cover-size);
    transition: transform, width, height;
    transition-duration: var(--duration);
    transition-timing-function: var(--ease-timeline);
    transform: translate3d(var(--offset-cover), var(--offset-cover), 0);
}

.slider.resize .slider__content {
    width: 100%;
    height: 17.8125em;
    transform: translate3d(0, 0, 0);
}

.slider__content .button {
    --size: 3em;
    z-index: 1;
    position: absolute;
    width: var(--size);
    height: var(--size);
}

.slider__content i {
    position: absolute;
    pointer-events: none;
    font-size: var(--size);
}

.music-player__playlist-button {
    top: 5.5%;
    left: 5.5%;
    transform: scale(0);
    transition: calc(var(--duration) / 2) transform;
}

.slider.resize .music-player__playlist-button {
    transform: scale(1);
    transition: 0.35s var(--duration) transform cubic-bezier(0, 0.85, 0.11, 1.64);
}

.music-player__broadcast-guarantor .icon-pause,
.music-player__broadcast-guarantor.click .icon-play {
    opacity: 0;
}

.music-player__broadcast-guarantor.click .icon-pause {
    opacity: 1;
}

.slider__imgs {
    width: 100%;
    height: 100%;
    filter: brightness(75%);
    transform: translate3d(calc(var(--index) * 100%), 0, 0);
    transition: var(--duration) transform var(--ease-slider);
}

.slider__imgs>img {
    pointer-events: none;
}

.slider__controls {
    --controls-y: 145%;
    --controls-x: 17.3%;
    --controls-width: 68.4%;
    --controls-resize-width: 88%;
    gap: 0.375em 0;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    padding-top: 0.375em;
    width: var(--controls-width);
    transform: translate3d(var(--controls-x), 0, 0);
    animation: var(--controls-animate, "down paused") var(--duration) var(--ease-timeline) forwards;
}

@keyframes down {
    100% {
        width: var(--controls-resize-width);
        transform: translate3d(0, var(--controls-y), 0);
    }
}

@keyframes up {
    0% {
        width: var(--controls-resize-width);
        transform: translate3d(0, var(--controls-y), 0);
    }
    100% {
        width: var(--controls-width);
        transform: translate3d(var(--controls-x), 0, 0);
    }
}

.slider__switch-button {
    font-size: 3em;
    height: max-content;
}

.music-player__info {
    width: 56.3%;
    cursor: pointer;
    line-height: 1.8;
    overflow: hidden;
    font-weight: bold;
    padding: 0 0.0625em;
    white-space: nowrap;
}

.music-player__info>* {
    margin: 0 auto;
    pointer-events: none;
}

.music-player__singer-name {
    font-size: 1.25em;
    width: max-content;
}

.music-player__subtitle {
    font-size: 0.85em;
    font-weight: bold;
    color: var(--color-text-2);
}

.slider__controls .music-player__subtitle {
    width: max-content;
}

.music-player__singer-name.animate,
.music-player__subtitle.animate {
    --subtitle-gap: 1.5625em;
    display: flex;
    gap: 0 var(--subtitle-gap);
    animation: subtitle 12s 1.2s linear infinite;
}

@keyframes subtitle {
    80%,
    100% {
        transform: translate3d(calc((100% + var(--subtitle-gap)) / -2), 0, 0);
    }
}

.progress {
    width: 90%;
    height: 1.25em;
    cursor: pointer;
    transition: var(--duration) width var(--ease-timeline);
}

.slider.resize .progress {
    width: 100%;
}

.progress__wrapper {
    width: 100%;
    height: 0.3125em;
    position: relative;
    border-radius: 1em;
    background-color: var(--color-gray);
}

.progress__bar {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: var(--width);
    border-radius: inherit;
    background-color: var(--color-blue);
}

.progress__bar::after {
    --size: 0.4375em;
    left: 98%;
    content: "";
    position: absolute;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    background-color: var(--color-blue-dark);
}

.music-player__playlist {
    height: 100%;
    overflow: hidden auto;
    padding: 1.28125em 1.09375em 0 var(--offset-cover);
}

.music-player__song {
    --gap: 0.75em;
    cursor: pointer;
    margin-bottom: var(--gap);
    padding-bottom: var(--gap);
    border-bottom: 1.938px solid #d8d8d859;
}

.music-player__song audio {
    display: none;
}

.music-player__song-img {
    width: var(--cover-size);
    height: var(--cover-size);
    border-radius: var(--border-radius);
}

.music-player__playlist-info {
    width: 100%;
    overflow: hidden;
    line-height: 1.3;
    font-size: 1.06875em;
    margin-left: 0.7875em;
}

.music-player__song-duration {
    font-weight: bold;
    font-size: 0.7875em;
    color: var (--color-text-2);
}

@media screen and (min-width: 1366px) {
    .music-player {
        font-size: 1.17132vw;
    }
}

@media screen and (max-width: 480px) {
    .music-player {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 280px) {
    .music-player {
        font-size: 0.6rem;
    }
}